/* Gneral */

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}


.container {
    position: relative;
  }
  
  .widget {
    position: fixed;
    bottom: 20px; /* Adjust this value to change the distance from the bottom */
    right: 20px; /* Adjust this value to change the distance from the right */
    z-index: 9999; /* Ensure the widget appears above other content */
  }
  

/* nav bar */

.navbar-nav {
    margin: 0 auto; /* This will horizontally center the navbar */
    display: table; /* This is necessary to center the list items */
    padding-top: 0; /* Remove the default padding-top */
    padding-bottom: 0; /* Remove the default padding-bottom */
    }
    
    .navbar-brand {
        margin-left:  15px; /* Remove any right margin on the brand */
        display: table;
    }
    
    .navbar-collapse {
        justify-content: flex-end; /* Align the navbar items to the right */
    }
    
.navbar-brand {
    margin-right: auto; /* This will horizontally center the navbar */
    display: table; /* This is necessary to center the list items */
}


/**************************************** Home Page *********************/
/* hero section */
  .hero-section {
    background-image: url('../background/1.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center; 
    height: 500px; 
  } 

/* span {
    color:inear-gradient(to right, #9D44C0, #0E21A0, #EC53B0, #4D2DB7);;
    font-size: 30px;
    line-height: 74px;
    font-weight: 600;
    text-align: center;
} */

span.gradient-background{
    color: #0E21A0;

}
/* Programs */


/* .program-section {
    background-image: url('../background/background.png');
    background-size: cover;
    background-position: center;
    height: auto;
  }
.programs{
    color: white;
    text-align: center;
} */

.program-section{
        background: linear-gradient(to right, #0E21A0,  #0E21A0, #4D2DB7 ,#9D44C0 );
        color: white; 
}


/* h1{
    background: linear-gradient(to right, #9D44C0, #0E21A0, #9D44C0, #4D2DB7 );
    -webkit-background-clip: text; /* For webkit-based browsers */
    /* color: transparent; */
/* } */  

/* Global Impact */

/* .impact-image {
        animation: spin 2s linear infinite; /* Adjust duration and timing function as needed */
    /* } */

    /* @keyframes spin { */ */
        /* from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }  */
    
    /* styles.css */

body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
}

.scroller {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.scroll-content {
    display: flex;
    animation: scroll 20s linear infinite; /* Adjust duration for speed */
}

.global-image {
    min-width: 100px; /* Adjust based on your image width */
    height: auto; /* Adjust based on your image height */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Ensures text is below the image */
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


            
/* standout */
/* .standout{
    background-image: url('../background/impact-background.png');
    background-size: cover;
    background-position: center;
    height: auto;
  } */

.border-custom-color{
    border: 2px solid #e1c6ec;
    border-radius: 6px;
    background-color: #e1c6ec;;
} 

.border-custom-color-1{
    border: 2px solid #b6bce2;
    border-radius: 6px;
    background-color: #b6bce2;

}

h2.standout-heading{
    background: linear-gradient(to right, #0E21A0,  #0E21A0, #4D2DB7 ,#9D44C0 );
    -webkit-background-clip: text;    
    color: transparent; 
}

    
/* buttons */
a.btn-primary{
        /* background: linear-gradient(to right,
         #9D44C0 0%, 
         #0E21A0 100%, 
         #4D2DB7 1% );   */
         border: 1px solid;
         border-color: #0E21A0;
         background-color: #0E21A0;
         color: whitesmoke;
         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         font-size: 1rem;
}

a.btn-primary:hover{
    background: white;
    color: #0E21A0;
    border: 1px solid #0E21A0;
}

/* .card-body .btn-outline-secondary {
    border: 2px solid; 
    border-color: #9D44C0; 
}

.card-body .btn-outline-secondary:hover {
    border: 2px solid; 
    border-color: #4D2DB7; 
} */

.btn.btn-outline-secondary {
    color:  #0E21A0;
    border: 1px solid  #0E21A0;
    background-color: #FBF9FC; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         font-size: 1rem;
  }
  
  .btn.btn-outline-secondary:hover {
    color:  whitesmoke;
    background-color:  #0E21A0;
  }

.socials{
    color: #0E21A0;
}

/* footer */
.footer {
    background-color: #e6e8f5;
    height: auto;
    width: auto;
    color: black;
}



*{
    margin: 0;
    padding: 0;
    font-family: system-ui, Matter, ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji";
}
 body{
    font-family: system-ui, Matter, ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji";
    ;
 }


 /**************************************** product mgt- *********************/
 /* hero section */



/* curiculum */

.curriculum-highlight {
    background:#0E21A0;
    color: #e6e8f5;
  }

  .curriculum-highlight-2 {
    background: linear-gradient(to right, #0E21A0,  #0E21A0, #4D2DB7 ,#9D44C0 );
    color: white; 
  }

  .mgt-curriculum{
    background: #0c1d90;
    /* border: 2px solid #9ea6d9; */
  }

  h2.heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

  /* next cohort */
.next-cohort{
    background:#FBF9FC;
    height: auto;
    color: black
 
} 

h5.next-cohort{
    color: #0E21A0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


  
.horizontal-line {
    width: 100%; /* Set the width of the line to 100% */
    height: 5px; /* Set the height of the line */
    background: linear-gradient(to right, #0E21A0, #9D44C0,  #4D2DB7); /* Create a gradient with three colors */
  }


  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 40
  }
  .material-symbols-outlined {
    color: #0c1d90;
   font-size: 40px;
  }




  

@media screen and (max-width: 1200px) {

    *{
        font-size: 0.9rem;
        
    }
    h1 span{
        font-size: 2rem;
    }

    p span{
        font-size: 1.2rem;
    }
    .hero-image{
        width: 300px;
        margin: 0;
        overflow: hidden;
    }
  
    .nav-image{
        justify-content: left;
    }
    .tools{
        width: 35%;
        margin-top: 5px;
        margin-left: 30px;
        align-content: center;
    }
    .mgt-curriculum{
        margin-top: 30px;
        /* border: 2px solid #9ea6d9; */
      }

      .btn.contact{
        display: block;
        width: 70%;
      
      }

      .navbar-brand{
         margin: 0 auto; /* This will horizontally center the navbar */
         display: table;
      }
  
    .hero-section {
        height: auto; /* Adjust height to fit content */
    }

    .impact-global {
        padding-top: 50px; 
        /* Add padding to the top to create space */
    }

   
    .program-section {
        padding-bottom: 50px; /* Add padding to the bottom to create space */
    }
    .start-now-image{
        width: 200px
    }
    div .widget{
       max-width: 50px;
    }
    .start-now-image {
        max-width: 200px;
    }

    

}

    /* global Impact media query */
    
    @media (max-width: 1200px) {
        .global-image {
            min-width: 80px;
            height: 80px;
        }

    }
    /* styles.css */



/* Responsive adjustments */
@media (max-width: 1200px) {
    .global-image {
        min-width: 80px;
        height: auto;
    }
}


 
    
